body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-repeat: no-repeat;
	background-size: cover;
}

.loginbox{
position: absolute;
top: 50%;
left: 50%;
padding: 80px 40px;
transform: translate(-50%,-50%);
width: 350px;
height: 420px;
box-sizing: border-box;
background: rgba(0,0,0,.5);
}

.user{
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

h2{
    margin:0;
    padding: 0 0 20px;
    color: #efed40;
    text-align: center;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
} 

.loginbox input{
    width: 100%;
    color: transparent;
    
background: rgba(0,0,0,.5);
    margin-bottom: 20px; 
}

.loginbox input[type="text"],
.loginbox input[type="email"],
.loginbox input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: transparent;
    font-size: 16px;
}

::placeholder{
    color: rgba(255,255,255,.5);
}

.loginbox button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #ff267e;
    cursor: pointer;
    width: 250px;
    border-radius: 20px;
}

.loginbox button[type="submit"]:hover{
    color: #efed40;
    background: #262626;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  .button2 a{
  
    text-decoration: none;
    color:orange;
  }

  h1{
    margin:0;
    padding: 0 0 20px;
    color: black;
    text-align: left;
}